DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=

GROQ_API_KEY=

UNSPLASH_ACCESS_KEY=

FB_PAGE_ID=
FB_ACCESS_TOKEN=

X_CONSUMER_KEY=
X_CONSUMER_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_SECRET=

YOUTUBE_REFRESH_TOKEN=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=

